<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Página de {{shelter.name}}</title>
    <style>
         a {
            margin-right: 16px;
        }
    </style>
</head>
<body>
    <nav>
        <a href="/">Ir a Inicio</a>
        <a href="/shelters">Ir a Shelters</a>
    </nav>
    {{#if shelter}}
        <h1>Shelter con ID: {{shelter._id}}</h1>

        <h3>Nombre {{shelter.name}}</h3>
        <h3>Ubicación {{shelter.location}}</h3>

        {{#each shelter.pets}}
            <a href="/pets/{{_id}}">
                <div>{{name}}</div>
            </a>
            <div>{{specie}}</div>
        {{/each}}

    {{else}}
        <h3>No encontramos la casa de acogida que buscas!</h3>
    {{/if}}


</body>
</html>