<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Página de {{pet.name}}</title>
    <style>
         a {
            margin-right: 16px;
        }
    </style>
</head>
<body>
    <nav>
        <a href="/">Ir a Inicio</a>
        <a href="/pets">Ir a Pets</a>
    </nav>
    {{#if pet}}
        <h1>Mascota con ID: {{pet._id}}</h1>

        <h3>Nombre {{pet.name}}</h3>
        <h3>Age {{pet.age}}</h3>
        <h3>Color: {{pet.color}}</h3>
        <h3>Specie: {{pet.specie}}</h3>
        <h3>Breed: {{pet.breed}}</h3>

        {{#if pet.image}}
            <img src="{{pet.image}}" alt="avatar">
        {{/if}}

    {{else}}
        <h3>No encontramos la mascota que buscas! 404 y para casa</h3>
    {{/if}}


</body>
</html>